doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet',href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://v3.bootcss.com/getting-started/')
  body
    block content
